body {
    font-family: arial, sans-serif;
    background-image: linear-gradient(90deg,  #f7e980 50%,  #00C0FF 100%);
  }

  h1 {
    color: #0099cc;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
  }
  ul {
    margin: 0 0 10px;
    padding: 0;
  }
  li {
    color: #0099cc;
    font-style: italic;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 1;
    list-style: none;
    text-transform: capitalize;
  }
  .weather-app {
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;

  }
  
  #search {
    border: 1px solid #97bae7;
    color: #0040a3;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:  -10px;
    max-width: 600px;
    background: lightblue;
    border-radius: 10px;
  }
  #search:hover{
    background-image: linear-gradient(90deg,  #f7e980 50%,  #00C0FF 100%);
    animation:slidebg 5s linear infinite;
 }
  button {
    border: 1px solid #5f6266;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:  -50px;
    max-width: 600px;
    background: lightblue;
    border-radius: 10px;
  }
  button:hover{
    background-image: linear-gradient(90deg,  #f0cc2b 0%,  #00C0FF 100%);
    animation:slidebg 5s linear infinite;
 }
  .weather-icon {
    width: 64px;
    height: 64px;
    margin-right: 10px;
  }
  .temperature {
    color: #0040a3;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
  }
  .units {
    position: relative;
    top: -34px;
  }
  .weather-search-form {
    margin-bottom: 20px;
  }
.weather-forecast{
  color: #0040a3;
}